#header {
  overflow: hidden;
  width: 100%;
  justify-content: center;
  display: flex; }
  #header .video-and-title {
    height: 100%;
    width: 100%; }
    #header .video-and-title .title-header-block {
      font-family: 'AlegreyaSCRegular' , sans-serif;
      color: #fff;
      height: 40vh;
      position: absolute;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      margin-top: -40px;
      font-size: 65px;
      z-index: 2; }
      #header .video-and-title .title-header-block h1 {
        border-right: 2px solid transparent;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        animation: flashingBorder 0.7s step-end infinite , writeText 5s ease-in-out; }
    #header .video-and-title .picture-information {
      width: 100%;
      height: 100%;
      background: url("../museums_pictures/rab.jpg") no-repeat center;
      background-size: cover; }
      #header .video-and-title .picture-information img {
        width: 100%;
        filter: brightness(80%); }
  #header .nav-container .user-menu .user-avatar i {
    color: #212121;
    transition: .2s ease-in-out; }
    #header .nav-container .user-menu .user-avatar i:hover {
      transition: .2s ease-in-out;
      color: #80c7ba; }
  #header .nav ul li a {
    transition: .2s ease-in-out;
    color: #212121; }
    #header .nav ul li a:hover {
      transition: .2s ease-in-out;
      color: #80c7ba; }

#all-information-about-art {
  margin-top: 70px; }
  #all-information-about-art .picture-block {
    width: 100%;
    height: 600px;
    display: flex;
    overflow: hidden; }
    #all-information-about-art .picture-block img {
      width: 100%;
      height: 100%;
      border-radius: 5px; }
  #all-information-about-art .text-block-about-art {
    text-align: left;
    width: 100%; }
    #all-information-about-art .text-block-about-art p {
      margin-top: 20px;
      font-size: 24px;
      font-family: 'AlegreyaSCRegular' , sans-serif;
      font-weight: 100;
      color: #757575; }
      #all-information-about-art .text-block-about-art p span {
        font-family: "PT_SansNarrowWebRegular" , sans-serif;
        font-weight: bold;
        color: #212121; }

#all-commentaries .write-your-comment {
  display: flex;
  justify-content: center; }
  #all-commentaries .write-your-comment form {
    display: flex; }
    #all-commentaries .write-your-comment form label {
      font-family: 'SpectralRegular' , sans-serif;
      font-size: 20px; }
      #all-commentaries .write-your-comment form label input {
        width: 400px;
        padding: 5px 5px;
        font-family: 'SpectralRegular', sans-serif;
        font-size: 18px;
        outline: #212121;
        border: 1px solid #212121;
        border-radius: 5px; }
      #all-commentaries .write-your-comment form label textarea {
        width: 400px;
        padding: 5px 5px;
        font-family: 'SpectralRegular' , sans-serif;
        font-size: 18px;
        outline: #212121;
        border: 1px solid #212121;
        border-radius: 5px;
        resize: none; }
    #all-commentaries .write-your-comment form button {
      font-family: 'SpectralRegular' , sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      width: 150px;
      background: none;
      border: 1px solid #212121;
      border-radius: 5px;
      padding: 7px 0;
      outline: none;
      transition: .4s ease-in-out; }
      #all-commentaries .write-your-comment form button:hover {
        background: #80c7ba;
        border: 1px solid #80c7ba;
        color: #fff;
        transition: .4s ease-in-out; }
  #all-commentaries .write-your-comment .profile-image {
    width: 100px; }
    #all-commentaries .write-your-comment .profile-image img {
      width: 75px;
      height: 75px;
      border: .5px solid #212121;
      border-radius: 5px; }
  #all-commentaries .write-your-comment .from-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
#all-commentaries .all-commentaries-about-art h2 {
  color: #212121;
  font-family: 'AlegreyaSCRegular' , sans-serif; }
#all-commentaries .all-commentaries-about-art i {
  font-size: 35px; }
  #all-commentaries .all-commentaries-about-art i:before {
    position: absolute;
    margin-top: 7px; }
  #all-commentaries .all-commentaries-about-art i span {
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    margin-left: 8px;
    font-family: 'PT_SansNarrowWebRegular' ,sans-serif; }
#all-commentaries .all-commentaries-about-art .comment {
  display: flex;
  margin-top: 20px; }
  #all-commentaries .all-commentaries-about-art .comment .profile-image-comment {
    width: 117px;
    height: 75px; }
    #all-commentaries .all-commentaries-about-art .comment .profile-image-comment img {
      width: 75px; }
  #all-commentaries .all-commentaries-about-art .comment .information-about-comment {
    margin-left: 10px; }
    #all-commentaries .all-commentaries-about-art .comment .information-about-comment h3 {
      font-family: "SpectralRegular" , sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #212121; }
      #all-commentaries .all-commentaries-about-art .comment .information-about-comment h3 span {
        font-size: 16px;
        margin-left: 15px;
        color: #757575; }
    #all-commentaries .all-commentaries-about-art .comment .information-about-comment p {
      font-family: "PT_SansNarrowWebRegular" , sans-serif;
      font-size: 18px;
      color: #212121;
      font-weight: 500; }

/*# sourceMappingURL=art.css.map */
