* {margin: 0;padding: 0;box-sizing: unset;}

video {width: 100%;height: 100%; object-fit: cover;}
body {position: relative;z-index: 1;background: url("../museums_pictures/body-pattern.png");line-height: 1;}
hr {height: 1px;background: #212121; margin-top: 15px}
.long {
  width: 30%;
}
.medium {
  width: 20%;
}
.short {
  width: 10%;
}
*::selection {background: #b2dfdb}
textarea,input,button,i,select,option {outline: none;}
h1,h2,h3 {
  font-family: 'AlegreyaSCRegular' , sans-serif;
}
p {
  font-family: 'SpectralRegular' , sans-serif;
}
dl , ol , ul {
  margin-bottom: 0;
}
#active {
  background: #80c7ba;
  color: #fff;
}
.hidden {opacity: 0;}
.visible {opacity: 1;}
.post {
}
.main-fifty-container {
  width: 100%;
  height: 100%;
  display: flex;
  .fifty-container {
    min-width: 50%;
    max-width: 50%;
    height: 100%;
    z-index: 4;
    position: relative;
    display: flex;
    overflow: hidden;
  }
}
.fifty-size-picture {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  div {
    position: absolute;
    overflow: hidden;
    width: 50%;
    height: 100%;
    display: flex;
    img {
      filter: brightness(70%);
      width: 100%;
      height: 100%;
    }
    &:first-child {
      left: 0;
      top: 0;
    }
    &:last-child {
      right: 0;
      top: 0;
    }
  }
  img {
    height: 100%;
    animation: boss-image-animation 25s linear infinite;
    position: absolute;
  }
}
.full-size-picture {
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: boss-image-animation 25s linear infinite;
  }
}
#section0 , #section1 , #section2 , #section3 ,#section4 ,#section5 {
  overflow: hidden;
}
.fp-viewing-3 {
  .nav {
    ul {
      li {
        a {
          color: #1e1e1c;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
.fp-viewing-3 {
  #fp-nav {
    ul {
      li {
        a {
          span {
            background: #1e1e1c;
            &:hover {
              background: #fff;
            }
          }
        }
      }
    }
  }
}
.container {
  min-width: 1000px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
}
.main-container {
  min-width: 1000px;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
.main-container-two {
  min-width: 1155px;
  max-width: 1155px;
  display: block;
  margin: 0 auto;
}
.mini-container {
  min-width: 100%;
  max-width: 100%;
}
.big-container {
  min-width: 1400px;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}
.default_button {
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-family: 'SpectralRegular' , sans-serif;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-top: 15px;
  transition: .2s ease-in-out;
  &:hover {
    background: #80c7ba;
    border: 1px solid #80c7ba;
    transition: .2s ease-in-out;
  }
}
.header-text {
  font-size: 28px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
}