body {
  overflow: hidden; }

body::-webkit-scrollbar {
  display: none; }

* {
  transition: .4s ease-in-out; }

#job {
  display: flex; }
  #job .job-wrap {
    width: 30%;
    height: 100%;
    position: fixed;
    overflow: auto;
    right: 0;
    background: #fff;
    border-left: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    display: flex;
    justify-content: center; }
    #job .job-wrap form {
      padding-top: 120px;
      width: 95%; }
      #job .job-wrap form h2 {
        font-size: 24px;
        font-family: 'SpectralRegular' , sans-serif;
        font-weight: bold;
        text-transform: uppercase; }
      #job .job-wrap form label {
        font-size: 18px;
        color: #757575;
        font-family: 'PT_SansNarrowWebRegular' , sans-serif; }
        #job .job-wrap form label span {
          color: #03A9F4; }
      #job .job-wrap form select, #job .job-wrap form .FIO, #job .job-wrap form .live-place textarea, #job .job-wrap form .job-info input {
        display: block;
        padding-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: 'PT_SansNarrowWebRegular' , sans-serif;
        border: 1px solid #ccc;
        font-size: 18px;
        color: #000;
        height: 40px;
        border-radius: 4px !important; }
      #job .job-wrap form .FIO, #job .job-wrap form .live-place textarea {
        width: 100%; }
      #job .job-wrap form .nationality {
        width: 45%; }
      #job .job-wrap form .birth-date {
        width: 45%; }
      #job .job-wrap form .job-info {
        display: flex;
        justify-content: space-between; }
        #job .job-wrap form .job-info input {
          width: 100%; }
      #job .job-wrap form .live-place {
        width: 100%; }
    #job .job-wrap .send-profile {
      font-family: 'SpectralRegular' , sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      width: 150px;
      background: none;
      border: 1px solid #ccc;
      color: #ccc;
      border-radius: 5px;
      padding: 7px 0;
      outline: none;
      transition: .4s ease-in-out;
      margin-bottom: 20px; }
      #job .job-wrap .send-profile:hover {
        background: #80c7ba;
        border: 1px solid #80c7ba;
        color: #fff;
        transition: .4s ease-in-out; }
  #job .information-about-job {
    width: 70%; }
    #job .information-about-job .work {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      height: 100vh;
      margin-left: 25px; }
      #job .information-about-job .work h2 {
        font-size: 48px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        color: #212121; }
      #job .information-about-job .work h3 {
        font-size: 30px;
        text-transform: uppercase;
        margin: 15px 0;
        color: #212121; }
      #job .information-about-job .work li {
        font-family: 'PT_SansNarrowWebRegular' , sans-serif;
        font-size: 1.6rem;
        margin: 15px 0;
        color: #757575; }

/*# sourceMappingURL=job.css.map */
