/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1440px) {
  .main-container-two {
    min-width: 980px;
    max-width: 980px; }

  .grid {
    min-width: 980px;
    max-width: 980px; }

  .grid-sizer {
    width: 321px; }

  .grid-item--width1 {
    width: 321px; }

  .grid-item--width2 {
    width: 321px; }

  .grid-item--width3 {
    width: 321px; }

  .grid-item--width4 {
    width: 321px; }

  #job .information-about-job {
    width: 60%; }
    #job .information-about-job .work h2 {
      font-size: 42px; }
    #job .information-about-job .work h3 {
      font-size: 25px; }
    #job .information-about-job .work li {
      font-size: 1.2rem; }
  #job .job-wrap {
    width: 40%; } }
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .big-container {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center; }

  .main-container-two {
    min-width: 100%;
    max-width: 100%; }

  #header .video-and-title .title-header-block {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    font-size: 55px; }
    #header .video-and-title .title-header-block .title-header-block {
      font-size: 55px; }

  #all-arts .main-container-two {
    justify-content: center; }
  #all-arts .search-art {
    position: fixed;
    display: flex;
    background: #fff;
    z-index: 88;
    left: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    max-width: 0;
    overflow: auto; }
    #all-arts .search-art .mini-container {
      min-width: 85%;
      max-width: 85%;
      display: flex; }

  #job .information-about-job {
    width: 60%; }
    #job .information-about-job .work h2 {
      font-size: 35px; }
    #job .information-about-job .work h3 {
      font-size: 20px; }
    #job .information-about-job .work li {
      font-size: 1rem; }
  #job .job-wrap {
    width: 40%; }

  #news .main-container-two {
    min-width: 95%;
    max-width: 95%; }

  .grid {
    min-width: 100%;
    max-width: 100%; }

  .grid-sizer, .grid-item, .grid-item--width2 {
    min-width: 33%;
    max-width: 33%; }

  .grid-item--width3, .grid-item--width4 {
    min-width: 33%;
    max-width: 33%; } }
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow: auto; }

  .big-container {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center; }

  .main-container-two {
    min-width: 100%;
    max-width: 100%; }

  .main-container {
    min-width: 90%;
    max-width: 90%; }

  .fp-viewing-0 #header #close .line, .fp-viewing-1 #header #close .line, .fp-viewing-2 #header #close .line, .fp-viewing-4 #header #close .line {
    background: #fff; }
  .fp-viewing-0 #header #open .line, .fp-viewing-1 #header #open .line, .fp-viewing-2 #header #open .line, .fp-viewing-4 #header #open .line {
    background: #000; }

  .video-and-title .title-info h1 {
    font-size: 1.5em; }
  .video-and-title .title-info p {
    font-size: 1em; }

  #fp-nav {
    display: none; }

  .two-boss {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .two-boss .boos-answer {
      height: 50%;
      margin-left: 0;
      position: relative;
      justify-content: flex-end;
      width: 73%; }
      .two-boss .boos-answer h2 {
        font-size: 20px; }
      .two-boss .boos-answer h3 {
        font-size: 16px;
        width: 71%; }
      .two-boss .boos-answer p {
        font-size: 16px; }
        .two-boss .boos-answer p span {
          font-size: 14px; }

  .information-about-top-museum .main-container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .information-about-top-museum .main-container-two .top-info {
      width: 90%;
      margin-top: 0; }
      .information-about-top-museum .main-container-two .top-info h2 {
        font-size: 38px; }
        .information-about-top-museum .main-container-two .top-info h2 span {
          font-size: 50px; }

  .default_button {
    font-size: 18px; }

  .about-all-arts .main-container-two {
    display: flex;
    justify-content: center; }
    .about-all-arts .main-container-two .all-arts-info {
      width: 90%; }
      .about-all-arts .main-container-two .all-arts-info h2 {
        font-size: 38px; }
        .about-all-arts .main-container-two .all-arts-info h2 span {
          font-size: 50px; }

  .area-zona .fifty-container h2 {
    font-size: 50px; }
    .area-zona .fifty-container h2 span {
      font-size: 56px; }

  #main .short-view-information-about-museum {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #main .short-view-information-about-museum .picture-two-block-about-museum {
      margin-top: 70px; }

  #how-to-come-here .main-container h1 {
    font-size: 40px;
    text-align: center; }

  #our-social-network .main-container h1 {
    font-size: 40px;
    text-align: center; }
  #our-social-network .out-social-network-links i {
    font-size: 40px; }

  #ask-your-question .main-container h1 {
    font-size: 40px;
    text-align: center; }
  #ask-your-question .main-container .your-question-form form input {
    min-width: 80%;
    max-width: 80%; }
  #ask-your-question .main-container .your-question-form form textarea {
    min-width: 80%;
    max-width: 80%; }

  #header .mobil_menu {
    display: block; }
  #header .nav-container {
    display: none; }
  #header .video-and-title .title-header-block {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 85vh; }
    #header .video-and-title .title-header-block h1 {
      font-size: 90px; }

  #all-arts .main-container-two {
    justify-content: center; }
  #all-arts .search-art {
    position: fixed;
    display: flex;
    background: #fff;
    z-index: 88;
    left: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    max-width: 0;
    overflow: auto; }
    #all-arts .search-art .mini-container {
      min-width: 85%;
      max-width: 85%;
      display: flex; }

  #job {
    display: flex;
    flex-direction: column; }
    #job .information-about-job {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #job .information-about-job .work {
        text-align: center;
        margin-left: 0; }
        #job .information-about-job .work h2 {
          font-size: 40px; }
        #job .information-about-job .work h3 {
          font-size: 30px; }
        #job .information-about-job .work li {
          font-size: 1.2rem;
          list-style: none; }
    #job .job-wrap {
      width: 100%;
      position: relative; }

  #news .main-container-two {
    min-width: 95%;
    max-width: 95%; }
  #news .news-wrap {
    grid-template-columns: 1fr 1fr; }

  .grid {
    min-width: 95%;
    max-width: 95%; }

  .grid-sizer, .grid-item, .grid-item--width2 {
    min-width: 49%;
    max-width: 49%; }

  .grid-item--width3, .grid-item--width4 {
    min-width: 49%;
    max-width: 49%; } }
/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  body {
    overflow: auto; }

  .big-container {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center; }

  .main-container-two {
    min-width: 100%;
    max-width: 100%; }

  .main-container {
    min-width: 90%;
    max-width: 90%; }

  .full-size-picture img {
    width: 120%;
    left: -20px; }

  .main-fifty-container {
    flex-direction: column; }

  .fifty-size-picture {
    position: relative;
    flex-direction: column; }
    .fifty-size-picture div {
      position: relative;
      width: 100%;
      height: 50%; }
      .fifty-size-picture div img {
        position: relative;
        width: 100%;
        height: 50%; }

  .fp-viewing-0 #header #close .line, .fp-viewing-1 #header #close .line, .fp-viewing-2 #header #close .line, .fp-viewing-4 #header #close .line {
    background: #fff; }
  .fp-viewing-0 #header .open-the-menu .line, .fp-viewing-1 #header .open-the-menu .line, .fp-viewing-2 #header .open-the-menu .line, .fp-viewing-4 #header .open-the-menu .line {
    background: #000; }

  .video-and-title .title-info h1 {
    font-size: 1.5em; }
  .video-and-title .title-info p {
    font-size: 1em; }

  #fp-nav {
    display: none; }

  .two-boss {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .two-boss .full-size-picture {
      height: 50%;
      overflow: hidden; }
      .two-boss .full-size-picture img {
        position: relative; }
    .two-boss .boos-answer {
      height: 50%;
      margin-left: 0;
      position: relative; }
      .two-boss .boos-answer h2 {
        font-size: 26px;
        color: #1f1f1f; }
      .two-boss .boos-answer h3 {
        font-size: 22px;
        width: 90%;
        color: #1f1f1f; }
      .two-boss .boos-answer p {
        font-size: 20px;
        color: #1f1f1f; }
        .two-boss .boos-answer p span {
          font-size: 20px; }

  .information-about-top-museum .main-container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .information-about-top-museum .main-container-two .top-info {
      width: 90%;
      margin-top: 0; }
      .information-about-top-museum .main-container-two .top-info h2 {
        font-size: 38px; }
        .information-about-top-museum .main-container-two .top-info h2 span {
          font-size: 50px; }

  .default_button {
    font-size: 18px; }

  .about-all-arts .main-container-two {
    display: flex;
    justify-content: center; }
    .about-all-arts .main-container-two .all-arts-info {
      width: 90%; }
      .about-all-arts .main-container-two .all-arts-info h2 {
        font-size: 38px; }
        .about-all-arts .main-container-two .all-arts-info h2 span {
          font-size: 50px; }

  .area-zona .fifty-container {
    min-width: 100%;
    max-width: 100%; }
    .area-zona .fifty-container h2 {
      font-size: 50px; }
      .area-zona .fifty-container h2 span {
        font-size: 56px; }
    .area-zona .fifty-container img {
      width: 100%; }

  #main .short-view-information-about-museum {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #main .short-view-information-about-museum .picture-two-block-about-museum {
      margin-top: 70px; }

  #how-to-come-here .main-container h1 {
    font-size: 40px;
    text-align: center; }

  #our-social-network .main-container h1 {
    font-size: 40px;
    text-align: center; }
  #our-social-network .out-social-network-links i {
    font-size: 40px; }

  #ask-your-question .main-container h1 {
    font-size: 40px;
    text-align: center; }
  #ask-your-question .main-container .your-question-form form input {
    min-width: 80%;
    max-width: 80%; }
  #ask-your-question .main-container .your-question-form form textarea {
    min-width: 80%;
    max-width: 80%; }

  #job {
    display: flex;
    flex-direction: column; }
    #job .information-about-job {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #job .information-about-job .work {
        text-align: center;
        margin-left: 0; }
        #job .information-about-job .work h2 {
          font-size: 22px; }
        #job .information-about-job .work h3 {
          font-size: 18px; }
        #job .information-about-job .work li {
          font-size: 0.9rem;
          list-style: none; }
    #job .job-wrap {
      width: 100%;
      position: relative; }

  #panel {
    padding-bottom: 40px; }
    #panel .info-panel {
      margin-left: -10%; }
      #panel .info-panel .search-in-table input {
        width: 70%; }
      #panel .info-panel .navigation-admin-panel ol {
        flex-direction: column;
        align-items: center; }
        #panel .info-panel .navigation-admin-panel ol li {
          margin: 5px 0 5px 0; }

  #header .mobil_menu {
    display: block; }
  #header .nav-container {
    display: none; }
  #header .video-and-title .title-header-block {
    display: flex;
    justify-content: flex-end;
    align-content: center; }
    #header .video-and-title .title-header-block h1 {
      font-size: 11vw; }

  #all-arts .main-container-two {
    justify-content: center; }
  #all-arts .search-art {
    position: fixed;
    display: flex;
    background: #fff;
    z-index: 88;
    left: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    max-width: 0;
    overflow: auto; }
    #all-arts .search-art .mini-container {
      min-width: 85%;
      max-width: 85%;
      display: flex; }

  #news .main-container-two {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #news .slider {
    width: 95%; }
  #news .news-wrap {
    width: 60%;
    grid-template-columns: 1fr; }

  .grid {
    min-width: 95%;
    max-width: 95%; }

  .grid-sizer, .grid-item, .grid-item--width2 {
    min-width: 49%;
    max-width: 49%; }

  .grid-item--width3, .grid-item--width4 {
    min-width: 49%;
    max-width: 49%; } }
@media screen and (max-width: 650px) {
  #header .nav-container {
    display: none; }
  #header .mobil_menu {
    display: block; }
  #header .video-and-title .title-header-block {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 50vh; }
    #header .video-and-title .title-header-block h1 {
      font-size: 10vw; }

  #footer .main-container-two {
    min-width: 100%;
    max-width: 100%; }
    #footer .main-container-two .navs {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #footer .main-container-two .navs li {
        text-align: center; }
    #footer .main-container-two .last-social-network .navs {
      display: flex;
      flex-direction: row; }

  .full-size-picture img {
    width: 120%;
    left: -20px; }

  .main-fifty-container {
    flex-direction: column; }

  .fifty-size-picture {
    position: relative;
    flex-direction: column; }
    .fifty-size-picture div {
      position: relative;
      width: 100%;
      height: 50%; }
      .fifty-size-picture div img {
        position: relative;
        width: 100%;
        height: 50%; }

  .fp-viewing-0 #header #close .line, .fp-viewing-1 #header #close .line, .fp-viewing-2 #header #close .line, .fp-viewing-4 #header #close .line {
    background: #fff; }
  .fp-viewing-0 #header #open .line, .fp-viewing-1 #header #open .line, .fp-viewing-2 #header #open .line, .fp-viewing-4 #header #open .line {
    background: #000; }

  .video-and-title .title-info h1 {
    font-size: 1em; }
  .video-and-title .title-info p {
    font-size: .5em; }

  .two-boss {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .two-boss .full-size-picture {
      height: 50%;
      overflow: hidden; }
      .two-boss .full-size-picture img {
        position: relative; }
    .two-boss .boos-answer {
      height: 50%;
      margin-left: 0;
      position: relative; }
      .two-boss .boos-answer h2 {
        font-size: 22px;
        color: #1f1f1f; }
      .two-boss .boos-answer h3 {
        font-size: 18px;
        width: 90%;
        color: #1f1f1f; }
      .two-boss .boos-answer p {
        font-size: 16px;
        color: #1f1f1f; }
        .two-boss .boos-answer p span {
          font-size: 16px; }

  #fp-nav {
    display: none; }

  .information-about-top-museum .main-container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .information-about-top-museum .main-container-two .top-info {
      width: 90%;
      margin-top: 0; }
      .information-about-top-museum .main-container-two .top-info h2 {
        font-size: 20px; }
        .information-about-top-museum .main-container-two .top-info h2 span {
          font-size: 26px; }

  .default_button {
    font-size: 14px; }

  .about-all-arts .main-container-two {
    display: flex;
    justify-content: center; }
    .about-all-arts .main-container-two .all-arts-info {
      width: 90%; }
      .about-all-arts .main-container-two .all-arts-info h2 {
        font-size: 22px; }
        .about-all-arts .main-container-two .all-arts-info h2 span {
          font-size: 26px; }

  .area-zona .fifty-container {
    min-width: 100%;
    max-width: 100%; }
    .area-zona .fifty-container h2 {
      font-size: 42px; }
      .area-zona .fifty-container h2 span {
        font-size: 46px; }
    .area-zona .fifty-container img {
      width: 100%; }

  #main .short-view-information-about-museum {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #main .short-view-information-about-museum .picture-two-block-about-museum {
      margin-top: 70px; }

  #how-to-come-here .main-container h1 {
    font-size: 40px;
    text-align: center; }

  #our-social-network .main-container h1 {
    font-size: 40px;
    text-align: center; }
  #our-social-network .out-social-network-links i {
    font-size: 40px; }

  #ask-your-question .main-container h1 {
    font-size: 40px;
    text-align: center; }
  #ask-your-question .main-container .your-question-form form input {
    min-width: 80%;
    max-width: 80%; }
  #ask-your-question .main-container .your-question-form form textarea {
    min-width: 80%;
    max-width: 80%; }

  #all-arts .main-container-two {
    justify-content: center; }
  #all-arts .search-art {
    position: fixed;
    display: flex;
    background: #fff;
    z-index: 88;
    left: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    max-width: 0;
    overflow: auto; }
    #all-arts .search-art .mini-container {
      min-width: 85%;
      max-width: 85%;
      display: flex; }

  #all-commentaries .write-your-comment .profile-image {
    display: none; }
  #all-commentaries .write-your-comment form label input {
    min-width: 100%;
    max-width: 100%;
    padding: 5px 0 5px 5px; }
  #all-commentaries .write-your-comment form label textarea {
    min-width: 100%;
    max-width: 100%;
    padding: 5px 0 5px 5px; }
  #all-commentaries .write-your-comment form button {
    padding: 8px 8px 8px 8px;
    position: relative;
    left: 7px; }

  #header_ {
    height: 75px; }
    #header_ .nav-container {
      display: none; }
    #header_ .mobil_menu {
      display: block; }

  .main-container {
    min-width: 90%;
    max-width: 90%; }

  .big-container {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center; }

  .main-container-two {
    min-width: 100%;
    max-width: 100%; }

  #panel {
    padding-bottom: 40px; }
    #panel .info-panel {
      margin-left: -10%;
      text-align: center; }
      #panel .info-panel .button-add {
        justify-content: center; }
      #panel .info-panel .navigation-admin-panel ol {
        flex-direction: column;
        align-items: center; }
        #panel .info-panel .navigation-admin-panel ol li {
          margin: 5px 0 5px 0; }
      #panel .info-panel form .all-info {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #panel .info-panel form .all-info div {
          flex-direction: column;
          justify-content: center;
          width: 90%;
          align-items: center; }
        #panel .info-panel form .all-info input {
          width: 90%;
          padding: 5px 0 5px 0; }
        #panel .info-panel form .all-info select {
          width: 90%;
          padding: 5px 0 5px 0; }
        #panel .info-panel form .all-info textarea {
          width: 68%;
          margin-top: -15px; }
        #panel .info-panel form .all-info .status-select {
          width: 73%;
          margin-top: -15px; }

  .photobox {
    width: 100%; }

  .grid {
    min-width: 90%;
    max-width: 90%; }

  .grid-sizer, .grid-item, .grid-item--width2, .grid-item--width3, .grid-item--width4 {
    min-width: 100%;
    max-width: 100%; } }
/* Landscape phones and smaller */
@media screen and (max-height: 750px) {
  #all-arts .search-art .mini-container .header-search {
    font-size: 13px;
    margin-top: 10px; }
  #all-arts .sorting-all-arts .body-search div {
    margin-top: 10px; }
    #all-arts .sorting-all-arts .body-search div input {
      font-size: 10px; } }

/*# sourceMappingURL=media.css.map */
