#header {
  .mobil_menu {
    display: none;
    position: fixed;
    background: #fff;
    height: 0;
    z-index: 99;
    min-width: 100%;
    max-width: 100%;
    border-bottom: 1px solid black;
    overflow: hidden;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50vh;
      li {
        list-style: none;
        a {
          color: #000;
          text-decoration: none;
          font-size: 24px;
          font-family: 'Spectral' , sans-serif;
          &:hover {
            color: #80c7ba;
            text-decoration: underline;
          }
        }
      }
    }
  }
  #close {
    animation: close-button 2s ease-in-out;
  }
  .open-the-menu {
    outline: none;
    transition: .2s ease-in-out;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 2.5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    .line {
      width: 40px;
      height: 3px;
      background: black;
      margin: 3px 0 3px 0;
      transition: .2s ease-in-out;
    }
    &:hover {
      transition: .2s ease-in-out;
      .line {
        background: #80c7ba;
        transition: .2s ease-in-out;
      }
    }
  }
}
#header_ {
  @extend #header;
}