
#profile-edit {
  padding-top: 120px;
  padding-bottom: 65px;
  .main-container-two {
    min-width: 900px;
    max-width: 900px;
    .user-edit {
      form {
        display: grid;
        grid-template-columns: 1fr ;
        .user-data {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          input {
            font-family: 'PT_SansNarrowWebRegular', sans-serif;
            min-width: 400px;
            max-width: 400px;
            font-size: 18px;
            padding: 10px 5px;
            margin-top: 20px;
            border: 1px solid #80c7ba;
            border-radius: 3px;
          }
          button {
            width: 180px;
            padding: 8px 5px;
            font-size: 18px;
            font-family: 'PT_SansNarrowWebRegular' , sans-serif;
            text-transform: uppercase;
            margin-top: 20px;
            border-radius: 3px;
            border: 1px solid #80c7ba;
            background: none;
            transition: .2s ease-in-out;
            &:hover {
              background: #80c7ba;
              color: #fff;
              transition: .2s ease-in-out;
            }
          }
        }
        .user-avatar {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: 1;
            &:focus + label {
              background-color: #009688;
            }
            &:hover + label {
              background-color: #009688;
            }
          }
          .inputfile + label {
            font-family: "PT_SansNarrowWebRegular" , sans-serif;
            font-weight: 500;
            color: #fff;
            background-color: #BDBDBD;
            display: inline-block;
            cursor: pointer;
          }
          label {
            padding: 10px 15px;
            border-radius: 5px;
          }
          img {
            width: 225px;
            height: 200px;
          }
          button {
          }
        }
      }
    }
  }
}
#profile-view {
  padding-top: 120px;
  .main-container-two {
    .profile {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      .avatar {
        width: 250px;
        height: 200px;
        margin-right: 20px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 24px;
        }
        h4 {
          font-family: "PT_SansNarrowWebRegular" , sans-serif;
          color: #212121;
          font-weight: 400;
          margin-top: 10px;
          font-size: 20px;
        }
        button {
          padding: 10px 5px;
          font-family: "PT_SansNarrowWebRegular" , sans-serif;
          font-size: 18px;
          border-radius: 5px;
          background: none;
          border: 1px solid #212121;
          margin-top: 20px;
          transition: .2s ease-in-out;
          &:hover {
            background: #009688;
            border: 1px solid #009688;
            color: #fff;
          }
          &:last-child {
            margin-left: 10px;
            transition: .2s ease-in-out;
          }
        }
      }
    }
  }
}